
/*
* Buttons
*/
.btn {
    text-transform: uppercase;
}

button#add-to-cart-button.btn.btn-success{
    color: $mediumgray;
    background-color: $white; 
    border-color: $mediumgray;
}

button#add-to-cart-button.btn.btn-success:hover, button#add-to-cart-button.btn.btn-success:focus{
    color: $white;
    background-color: $mediumgray; 
    border-color: $mediumgray;
}

.btn-rad{
    color: $mediumgray;
    border: 3px solid $mediumgray;
	border-radius:0px;
	min-width:150px;
}

.btn-blue:hover, .btn-blue:focus{
color: $blue;
background-color: $white; 
border-color: $white;
}

.btn-orange:hover, .btn-orange:focus{
color: $orange;
background-color: $white; 
border-color: $white;
}

.btn-white:hover, .btn-white:focus{
color: $white;
background-color: $mediumgray; 
border-color: $mediumgray;
}

.btn-prod-color, .btn-prod-size {
margin:0px;
padding:0px;
background-color: $white; 
border-color: $white;
border-width: 0.4em;
color: $mediumgray;
min-width:3em;
min-height:3em;

}
.list-inline > li {
    padding-left: 1.5px;
    padding-right: 1.51px;
}

.btn-prod-color{
    color: transparent; 
}

.btn-prod-size:hover, .btn-prod-size:focus{
background-color: $lightgray; 
border-color: $lightgray;
}

$prod-lightgrey: #CCCECF;
$prod-smoke: #593A1C;
$prod-matteblack: #231F20;
$prod-lightblue: #45AAE0;
$prod-denim: #3654A4;
$prod-yellow: #FFE600;
$prod-white: #FFF;

@mixin prod-button($color) {
    background-color: $color;
    border-color: $color;
    width: 40px;
    height: 40px;
}

.btn-prod-lightgrey { @include prod-button($prod-lightgrey); }
.btn-prod-smoke     { @include prod-button($prod-smoke); }
.btn-prod-matteblack{ @include prod-button($prod-matteblack); }
.btn-prod-lightblue { @include prod-button($prod-lightblue); }
.btn-prod-denim     { @include prod-button($prod-denim); }
.btn-prod-yellow    { @include prod-button($prod-yellow); }
.btn-prod-white     { @include prod-button($prod-white); }


.btn-prod-color:hover, .btn-prod-color:focus{
border-color:$mediumgray;
color:transparent;
}