/*
* TAXON IMAGE
*/

.taxon-title {
  margin-left: 13px;
}
#taxon-image-collection{

  .bcg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .hsContainer {
      height: 600px;
      display: table;
      table-layout: fixed;
      width: 100%;
      overflow: hidden;
      position: relative;
      opacity: 1;
      z-index: 1;
      .hsContent {
        max-width: 1180px;
        margin: -150px auto 0 auto;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        float: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .navbar-header {
    display: block !important;
    .mobile-main-menu {
      display:inline-block;
      float:right;
      width:127px;
      height: 106px;
      padding-top: 31px;
      .mobile-cart-link {
        img {
          width:53px;
          opacity: 0.6;
          margin-top: 8px;
        }
        &.current-cart {
          img {
            background-color: #ddd;
          }
        }
      }
    }
    .mobile-logo{
      display:inline-block;
      img{
        width:200px;
      }
    }
  }
  .nav-rad {
    margin-top: 8px !important;
  }
  .navbar {
    margin-bottom: 0px !important;
  }
  button.navbar-toggle{
    //float: right;
  }
  #header{
    display: none;
  }
  #taxon-image-collection{
    display: none;
    max-width: 768px;
    .bcg {
      background-size: contain;
    }
  }
  #mob-taxon-image-collection{
    max-width: 768px;
    display: block !important;
    .bcg {
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: scroll;
      .hsContainer {
        height: 240px;
        display: table;
        table-layout: fixed;
        width: 100%;
        overflow: hidden;
        position: relative;
        opacity: 1;
        z-index: 1;
        .hsContent {
          max-width: 768px;
          margin: -150px auto 0 auto;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          float: none;
        }
      }
    }


  }
}
/*
 * Navigation
 */

.nav-rad {
  font-size:1em;
  text-transform: uppercase;
  font-family: $sub-font;
  background-color: inherit;
  border-color: $white;
  color: $mediumgray;
  text-transform: uppercase;
  margin-top:20px;
  margin-bottom:0px;

  }

@media (min-width: 768px) {
  .nav-rad {
    .mobile-items {
      display: none;
    }
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }

  .navbar .navbar-collapse {
    text-align: center; }
	}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: $orange;
  background-color: $white;
}

.navbar-toggle{
	float:left;
	margin-left:15px;
}

#top-nav-bar{
float:right;
font-size:1em;
	color:$mediumgray;
font-family:$sub-font;
}

#top-nav-bar li{
	text-align: center;
	text-transform: uppercase;
	margin-top:0px;
	padding:0px;
}

#top-nav-bar li a{
	color:$mediumgray;
	padding:2em 1.2em 2em 1.2em;
	background-color: $white;
}

#top-nav-bar .nav > li > a:hover, .navbar-login .nav > li > a:focus {
  background-color: $orange;
  color: $white;
}

#breadcrumbs {
  display: none;
}
