<% if (@product.images + @product.variant_images).uniq.size > 1 %>
    <% @product.images.each do |i| %>
      <div>
        <%= image_tag(i.attachment.url(:product), class: "img-responsive") %>
      </div>
    <% end %>
<% end %>
