<%# no need for thumbnails unless there is more than one image %>
<% if (@product.images + @product.variant_images).uniq.size > 1 %>
  <div id="product-thumbnails" class="row slider-nav" data-hook>
    <% @product.images.each do |i| %>
      <div class="rad-thumb hidden-xs">
        <%= image_tag(i.attachment.url(:mini), class: "img-responsive grayscale") %>
      </div>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
  $('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  swipe: true,
  autoplay:false,
  asNavFor: '.slider-nav',
  responsive: [
   {
	 breakpoint: 768,
	 settings: {
	 dots: true
	 } 
   }
  ]
});
$('.slider-nav').slick({
  slidesToShow: 5,
  slidesToScroll: 1,
  asNavFor: '.slider-for',
  focusOnSelect: true,
  draggable: false
});		
</script>