.custom-container {
  padding:40px 20% 40px 20%;
}

.instagram-container {
  padding-top: 40px;
  padding-bottom: 40px;
	p{
	padding:40px 0px;
	}
}


.custom-container, .instagram-container {
    h1, h2, h3 {
     font-family: $sub-font;
     color: $gray;
    }
}

.press-container, .download-container {
  color: $gray;
  padding: 20px 8%;
	p{
	padding:10px 0px;
	}
  }

.download-container {
  background-color: $white; 
   .btn-rad {
    background-color: white;
	}
}

.press-container{
  background-color: $white;
	.btn-rad{
	  background-color: $white;
	}
}
