.press, .downloads {
  color: $black;
  padding: 20px 8%;
	p{
	padding:10px 0px;
	}
  }

.downloads {
  background-color: $white; 
   .btn-rad {
    background-color: $white;
	}
}

.press{
  background-color: $white;
	.btn-rad{
	  background-color: $white;
	}
}
