.prod-container {
  background-color: $blue;
	margin:0px;
	background: $blue asset-url('store/RAD_Mark_ProductBanner.svg') no-repeat right top;
    background-position   : 120% -220px;
    background-size       : 500px;
}
.prod-container  h1{
	padding:20px 0 30px 20px;
	margin:0px;
  color: $white;
  }

.img-gutter-7-7 {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-right: 0;
  margin-left: 0; }

.img-gutter-15 {
  padding-left: 15px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 0;
}

  
  .prod-text {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  a{
  color:$mediumgray;
  font-weight:normal;
  }
  a:hover, a:focus{
  color:white;
  text-decoration:none;
    }
  }


.prod-title a, .prod-title a:hover, .prod-title a:focus{
  color:$orange;
  font-weight: bold;
  text-decoration:none;
}

