development: &default
  adapter: postgresql
  encoding: SQL_ASCII
  database: spree_rad
  host: localhost
  pool: 5
  username: rubenr
  password: Ih3artTacos!

test:
  <<: *default
  database: spree_rad_test

production:
  adapter: postgresql
  encoding: unicode
  database:
  pool: 5
  username: 
  password: 