header {
  overflow: hidden;
  background-color: $blue;
  padding-bottom: 0;
  vertical-align: bottom;
 }

.header-home, .header-rad {
  height: 100px;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#logo img{
    position: absolute;
    left: 30px;
    top: 0px;
    width:232px;
}

@media (min-width: $screen-sm-min) {
    .header-home {
      height: 258px;
     }
    #logo img {
        left: 20px;
        top: 113px;
        width:350px;
    }
    .header-rad {
      height: 219px;
      padding-bottom: 0%;
      margin-bottom: 0%;
      background-color: $blue;
      &.taxon-img {
        height: 600px;
        #logo {
          height: 600px;
          img {
            bottom: 0px !important;
            top: auto;
          }
        }
        #taxon-image-collection{
          position: absolute;
          .bcg {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            .hsContainer {
              height: 600px;
              display: table;
              table-layout: fixed;
              width: 100%;
              overflow: hidden;
              position: relative;
              opacity: 1;
              z-index: 1;
              .hsContent {
                max-width: 1180px;
                margin: -150px auto 0 auto;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                float: none;
              }
            }
          }
        }
      }
     }
    .header-rad #logo img {
        width:490px;
        position: absolute;
        left: 48px;
        top: 0px;
    }
}
