header {
  overflow: hidden;
  background-color: $blue;
  padding-bottom: 0;
  vertical-align: bottom; 
 }

.header-home, .header-rad {
  height: 100px;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#logo img{
    position: absolute;
    left: 30px;
    top: 0px;
    width:232px;
}

@media (min-width: $screen-sm-min) {
    .header-home {
      height: 258px;
     }
    #logo img {
        left: 20px;
        top: 113px;
        width:350px;
    }
    .header-rad {
      height: 152px;
      padding-bottom: 0%;
      margin-bottom: 0%;
      background-color: $blue; 
     }
    .header-rad #logo img {
        width:490px;
        position: absolute;
        left: 48px;
        top: -40px;
    }
}