/*
 * Product Description
 */
#products h1, #products h3{
 margin-left:-7.5px;
}
.product-container {
line-height:1.6em;
margin-bottom: 4em;
padding-left:4%;
padding-right:4%;
}
.product-container h1{
font-family: $sub-font;
color: $red;
margin-top: 0px;
}

.product-container h1 span{
display:block;
color: $darkgray;
font-size: .5em;
}

.product-container h3{
 font-size: 1.2em;
 font-family: $sub-font;
 margin-bottom: 0.6em;
 margin-top: 1.8em;
 }

.list-sizes li, .list-colors li {
display:inline;
}

#product-price{
 font-family: $main-font;
 color:$mediumgray;
 font-size:1.2em;
 margin-top:1.8em;
 margin-bottom:1.8em;
}

#Add-to-Cart{
margin-top:3em;
margin-bottom:3em; 
}

#main-image{
 margin-bottom:7px;
}

#product-thumbnails{
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.rad-thumb img{
 font-size:0;
 padding-right: 3.5px;
 padding-left: 3.5px;
}


  #products div{
     margin-bottom:1.2em;
  }

@media (min-width: $screen-sm-min) {
  #products div{
     margin-bottom:0px;
  }
}