/*
 * Product Description
 */
.product-container {
line-height:1.6em;
margin-bottom: 4em;
padding-left:4%;
padding-right:4%;
}
.product-container h1{
font-family: $sub-font;
color: $red;
margin-top: 0px;
}

.product-container h1 span{
display:block;
color: $darkgray;
font-size: .5em;
}

.product-container h3{
 font-size: 1.2em;
 font-family: $sub-font;
 margin-bottom: 0.6em;
 margin-top: 1.8em;
 }

.list-sizes li, .list-colors li {
display:inline;
}

#product-price{
 font-family: $main-font;
 color:$mediumgray;
 font-size:1.2em;
 margin-top:1.8em;
 margin-bottom:1.8em;
}

#Add-to-Cart{
margin-top:3em;
margin-bottom:3em; 
}

/*
 * Product Images
 *
 .list-inline li{
  padding-right: 3.5px;
  padding-left: 3.5px;
 }
.rad-thumbs > li:first-child{
  padding-left: 15px;
 }
.rad-thumbs > li:last-child{
  padding-right: 15px;
 }
*/
.rad-thumbs li{
 font-size:0;
 display: inline;
 padding-right: 3.5px;
 padding-left: 3.5px;
}

img.thumbnail{
  border: 0px;
}
 
#main-image{
 margin-bottom:7px;
}
#product-thumbnails{
  padding-left: 12.5px;
  padding-right: 12.5px;
}