<footer class="footer">
<div class="container footer-container">
  <div class="row">
	<div class="col-sm-2 text-center hidden-xs hidden-sm"><a href="./"><%= image_tag "store/RAD_Mark_Black.svg", :width=>50 %></a></div>
	<div class="col-sm-4"><h3><a href="/about-us">About</a></h3><p>Made in LA: RAD designs and manufactures its own line of durable indoor/outdoor goods for commercial & residential clients around the world.</p></div>
	<div class="col-sm-3"><h3>Contact</h3><p>
        1713 East 58th Place #A<br />
        Los Angeles, CA 90001<br />
        orders@radfurniture.com<br />
        213 505 3036</p>
</div>
	<div class="col-sm-3"><h3>Resources</h3>
	<ul>
  <%= render partial: 'spree/static_content/static_content_footer'%>
  </ul>
  </div>
  </div>
	<div class="text-center copyright"><p>COPYRIGHT 2015 - RAD FURNITURE</p></div>

  </footer>